In [1]:
import pandas as pd
import gdown
import sqlite3 as sql3

In [2]:
url='https://drive.google.com/file/d/1LCpP0FD-JFwJ0V0k2wbi15Q7s3goGZfa/view?usp=drive_link'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
gdown.download(url, 'chinook.db', quiet=False)
connection = sql3.connect('chinook.db')

Downloading...
From: https://drive.google.com/uc?id=1LCpP0FD-JFwJ0V0k2wbi15Q7s3goGZfa
To: c:\Users\mail\OneDrive\Documents\my_python\zooming_up\SQL\chinook.db
100%|██████████| 885k/885k [00:00<00:00, 3.32MB/s]

In [26]:
query = """
        WITH    U2 (id, album, artist) AS
                (SELECT *
                FROM albums
                WHERE artistid = 
                        (SELECT artistid
                        FROM artists
                        WHERE name = 'U2')
                )

       ,        Metallica AS
                (SELECT *
                FROM albums
                WHERE artistid = 
                        (SELECT artistid
                        FROM artists
                        WHERE name = 'Metallica')
                        )


        SELECT *
        FROM U2

        UNION ALL

        SELECT *
        FROM Metallica
        """
pd.read_sql_query(query, connection)

     id                                              album  artist
0   232                                       Achtung Baby     150
1   233                    All That You Can't Leave Behind     150
2   234                                  B-Sides 1980-1990     150
3   235                    How To Dismantle An Atomic Bomb     150
4   236                                                Pop     150
5   237                                     Rattle And Hum     150
6   238                              The Best Of 1980-1990     150
7   239                                                War     150
8   240                                            Zooropa     150
9   255  Instant Karma: The Amnesty International Campa...     150
10   35                               Garage Inc. (Disc 1)      50
11  148                                        Black Album      50
12  149                               Garage Inc. (Disc 2)      50
13  150                                       Kill 'Em All      50
14  151                                               Load      50
15  152                                  Master Of Puppets      50
16  153                                             ReLoad      50
17  154                                 Ride The Lightning      50
18  155                                          St. Anger      50
19  156                             ...And Justice For All      50

In [146]:
query = """
        WITH cte AS
        (SELECT  invoice_items.quantity as qty, tracks.name as track, albums.title as album
        FROM    invoice_items
                LEFT JOIN tracks
                ON tracks.trackid = invoice_items.trackid
                LEFt JOIN albums
                ON albums.AlbumId= tracks.AlbumId)

        SELECT *, COUNT(1)
        OVER (PARTITION BY album
              ORDER BY track ) as cnt
        FROM cte
        ORDER BY cnt DESC
        LIMIT 5
    
        """
pd.read_sql_query(query, connection)

   qty                              track           album  cnt
0    1  Voce Nao Entende Nada - Cotidiano  Minha Historia   27
1    1   You're Gonna Break My Hart Again   Greatest Hits   26
2    1                         Vai Passar  Minha Historia   26
3    1             Wanted Dread And Alive   Greatest Hits   25
4    1                           Um Indio  Minha Historia   25